body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}

figure {
  text-align: center;
  font-size: x-small;
}
section#featured-property p {
  width: 800px;
  /* set the text paragraph in the center using it margin */
  margin: auto;
  /* add the padding space arroung the text */
  padding: 5px;
  
}

nav a {
  padding: 5px,10px,5px,10px;
  background-color: grey;
}

/* horizontalize the details section */
section#details div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: red;
  color: black;
}

/* set pseudo elements */
a:link {
  color: black;
}
a:visited {
  color: white;
}